name: CICD pipeline view

on:
  push:
    branches: ["main"]

jobs:
  compile:
    runs-on: ubuntu-24.04
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        
      - name: GitHub Leaks Installation
        run: sudo apt install gitleaks -y

      
        
     
